@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Home";
}

<!-- Header -->
<header id="header">
    <div class="content">
        <h1><a>Hello, friends</a></h1>
        <p>
            <br>
            My name is Nazar. <br /> 
            I am a 18 years old. <br />
            This is my digital portfolio <br />
            to show you what I can. <br /><br />
            I hope you like it.<br />
        </p>
        <ul class="actions">
            <li><a href="#one" class="button icon fa-chevron-down scrolly">More</a></li>
        </ul>
    </div>
    <div class="image phone"><div class="inner"><img class="img img-rounded" src="../../Content/Images/screen.jpg" alt="" /></div></div>
</header>

<!-- One -->
<section id="one" class="wrapper style2 special">
    <header class="major">
        <h2>
            SOME TEXT
        </h2>
    </header>
    <ul class="icons major">
        <li><span class="icon fa-camera-retro"><span class="label">Shoot</span></span></li>
        <li><span class="icon fa-refresh"><span class="label">Process</span></span></li>
        <li><span class="icon fa-cloud"><span class="label">Upload</span></span></li>
    </ul>
</section>

<!-- Two -->
<section id="two" class="wrapper">
    <div class="inner alt">
        <section class="spotlight">
            <div class="image"><img src="../../Content/Images/pic01.jpg" alt="" /></div>
            <div class="content">
                <h2>
		            SOME TEXT
		        </h2>
            </div>
        </section>
        <section class="spotlight">
            <div class="image"><img src="../../Content/Images/pic02.jpg" alt="" /></div>
            <div class="content">
                <h2>
		            SOME TEXT
		        </h2>
            </div>
        </section>
        <section class="spotlight">
            <div class="image"><img src="../../Content/Images/pic03.jpg" alt="" /></div>
            <div class="content">
                <h2>
		            SOME TEXT
		        </h2>
            </div>
        </section>
        <section class="special">
            <ul class="icons labeled">
                <li><span class="icon fa-camera-retro"><span class="label">Camera</span></span></li>
                <li><span class="icon fa-refresh"><span class="label">Refresh</span></span></li>
                <li><span class="icon fa-cloud"><span class="label">Cloud</span></span></li>
                <li><span class="icon fa-code"><span class="label">Code</span></span></li>
                <li><span class="icon fa-desktop"><span class="label">Desktop</span></span></li>
            </ul>
        </section>
    </div>
</section>

<!-- Three -->
<section id="three" class="wrapper style2 special">
    <header class="major">
        <h2>
            SOME TEXT
        </h2>
    </header>
    <ul class="actions">
    	<li><a href="#" class="button">Go Back</a></li>
    </ul>
</section>